{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" style="text-align: center;">
        <div class="container">
            <h1 class="display-3" style="padding-top: 25px">Spider-Man Comic Series</h1>
            <h4>Here are the Spider-Man series from {{ year }} onwards</h4>
        </div>
    </div>
    <hr>
    <div class="container">
        {% for row in series_list|batch(3) %}
            <div class="row">
                {% for series in row %}
                    <div class="col-md-4"
                         style="padding: 15px;">
                        <div class="thumbnail">
                            <a href="{{ '/series/{}'.format(series['seriesID']) }}">
                                <img src="{{ series['imageURL'] }}"
                                     style="display:block; margin:auto; border: solid rgba(72,95,110,0.1);">
                                <div class="thumbnail"
                                     style="text-align: center; padding-top: 8px;">
                                    <h5>
                                        {{ series['seriesName'] }}
                                    </h5>
                                    <p>
                                        {% if series['numOfIssues'] <= 0 %}
                                            (Unknown Release Date)<br>
                                            0 issues
                                        {% elif series['numOfIssues'] == 1 %}
                                            ({{ series['releaseDate'].year }} -
                                            {{ series['endDate'].year }})<br>
                                            {{ series['numOfIssues'] }} issue(s)
                                        {% else %}
                                            ({{ series['releaseDate'].year }} -
                                            {{ series['endDate'].year }})<br>
                                            {{ series['numOfIssues'] }} issue(s)
                                        {% endif %}
                                    </p>
                                    <p>
                                        <a href="#" class="btn btn-primary" role="button">Edit</a>
                                        <a href="#" class="btn btn-default" role="button">Delete</a>
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}