{% extends "base_issues.html" %}
{% block content %}
    <div class="jumbotron">
        <div class="container" style="text-align: center">
            <h1 class="display-3" style="padding-top: 25px">{{ issue_list[0]['seriesName'] }}</h1>
            {% if issue_list[0]['numOfIssues'] <= 0 %}
                <h4>
                    0 issues
                </h4>
                <h5>
                    (Unknown Release Date)
                </h5>
            {% elif issue_list[0]['numOfIssues'] == 1 %}
                <h4>
                    {{ issue_list[0]['numOfIssues'] }} issue
                </h4>
                <h5>
                    ({{ issue_list[0]['releaseDate'].strftime("%d %B %Y") }})
                </h5>
            {% else %}
                <h4>
                    {{ issue_list[0]['numOfIssues'] }} issues
                </h4>
                <h5>
                    ({{ issue_list[0]['releaseDate'].strftime("%d %B %Y") }}
                    - {{ issue_list[0]['endDate'].strftime("%d %B %Y") }})
                </h5>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="container">
        {% for row in issue_list|batch(3) %}
            <div class="row">
                {% for issue in row %}
                    <div class="col-md-4"
                         style="padding: 15px;">
                        <div class="thumbnail">
                            <a href="{{ '/issue/{}'.format(issue['issueID']) }}">
                                <img src="{{ issue['imageURL'] }}"
                                     style=" display:block; margin:auto; border: solid rgba(72,95,110,0.1);">
                                <div class="thumbnail"
                                     style="text-align: center; padding-top: 8px;">
                                    <h5>
                                        {{ '{} #{}'.format(issue['seriesName'], issue['issueNum']) }}
                                    </h5>
                                    <p>
                                        "{{ issue['issueName'] }}"<br>
                                        ({{ issue['releaseDate'].year }})
                                    </p>
                                    <p>
                                        <a href="{{ '/delete/issue/{}'.format(issue['issueID']) }}"
                                           class="btn btn-primary"
                                           role="button">Delete</a>
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}